<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap-grid.css'>
  </head>
  <body>
    <div class="container"><div class="row text-center"><div class="navbar col-sm-12">
      <a href="/" class="col-sm">Home</a>
      <a href="/admin/users" class="col-sm">Users</a>
      <a href="/admin/products" class="col-sm">Products</a>
      <a href="/admin/orders" class="col-sm">Orders</a>
      <a href="/logout" class="col-sm">Logout</a>
    </div></div></div>
    <hr>