<%include top%>

<div>
    <p><b>Username:</b> <%= data.username%></p>
    <p><b>Fullname:</b> <%= data.fullname%></p>
    <p><b>Email:</b> <%= data.email%></p>
    <p><b>Create day:</b> <%= data.created%></p>
</div>

<%include bot%>