<%include top%>

<div class="container"><div class="row text-center">
    <div class="col-sm-3"></div>
    <form method="POST" class="col-sm-6">
        <h2 class="col-sm-12">REGISTER</h2>
        <div class=container><div class="row">
            <label for="username" class="col-sm-5">Username</label>
            <input type="text" id="username" name="username" class="col-sm-7">
        </div></div>
        <div class=container><div class="row">
            <label for="password" class="col-sm-5">Password</label>
            <input type="password" id="password" name="password" class="col-sm-7">
        </div></div>
        <div class=container><div class="row">
            <label for="confirm" class="col-sm-5">Confirm Password</label>
            <input type="password" id="confirm" class="col-sm-7">
        </div></div>
        <div class=container><div class="row">
            <label for="fullname" class="col-sm-5">Fullname</label>
            <input type="text" name="fullname" id="fullname" class="col-sm-7">
        </div></div>
        <div class=container><div class="row">
            <label for="email" class="col-sm-5">Email</label>
            <input type="text" name="email" id="email" class="col-sm-7">
        </div></div><br>
        <div>
            <input type="submit" value="Register">
        </div>
    </form>
    <div class="col-sm-3"></div>
</div></div>

<%include bot%>