<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/bootstrap-grid.css'>
  </head>
  <body>
    <div class="container"><div class="row text-center">
    <div id='header' class="navbar col-sm-12">
    <% if(user.auth === "guest"){ %>
      <div class="col-sm"><a href="/">Home</a></div>
      <div class="col-sm"><a href="/login">Login</a></div>
      <div class="col-sm"><a href="/register">Register</a></div>
      <div class="col-sm">Hello, <b>Guest</b>.</div>
    <% } else { %>
      <div class="col-sm"><a href="/">Home</a></div>
      <div class="col-sm"><a href="/users/myOrders">My Orders</a></div>
      <div class="col-sm"><a href="">Change Information</a></div>
      <div class="col-sm">Hi, <b><%= user.user%></b>. <a href="/logout">Logout</a></div>
    <% } %>
    </div></div></div>
    <hr>